<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @language.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @language.icon %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
